<ion-header>
  <ion-toolbar>
    <ion-title>Welcome</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="loginForm" (ngSubmit)="signIn()" novalidate>
    <ion-item lines="full">
      <ion-label position="floating">Login</ion-label>
      <ion-input type="text" name="login" formControlName="login" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="text" name="password" formControlName="password" required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button [disabled]="loginForm.invalid" type="submit" color="primary" expand="block">Sign In</ion-button>
      </ion-col>
    </ion-row>
  </form>

  <ion-row>
    <ion-col>
      <ion-button [routerLink]="['/password-recovery']" color="primary" expand="block">Forgot Password ?</ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-button type="submit" color="primary" expand="block" (click)="signInGoogle()">
        Sign In with Google
        <ion-icon slot="end" name="logo-google"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-button [routerLink]="['/register']" color="primary" expand="block">Sign Up</ion-button>
    </ion-col>
  </ion-row>

</ion-content>
