<ion-header translucent>
  <ion-toolbar>
    <ion-title>Share your List</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <form [formGroup]="newShareForm" (ngSubmit)="share()" novalidate>
    <ion-item>

      <ion-buttons slot="end">
        <ion-button [disabled]="
        newShareForm.invalid
        || -1 !== (sharedUsers$ | async)?.indexOf(newShareForm.get('email').value)
        || auth.userEmail === newShareForm.get('email').value" type="submit" color="primary">
          <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-input name="email" formControlName="email" placeholder="emboucaneur@cretin.com" required></ion-input>
    </ion-item>
  </form>

  <ion-item *ngFor="let user of sharedUsers$ | async">
    <ion-label>{{ user }}</ion-label>
    <ion-icon name="trash-outline" color="danger" slot="end" (click)="unShare(user)"></ion-icon>
  </ion-item>

</ion-content>
