<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>

    <ion-item slot="start">
      <ion-title style="padding: 0">Lists</ion-title>
      <ion-buttons>
          <ion-button *ngIf="!editing" (click)='popShareHistory($event)'>
          <ion-icon  name="notifications-outline"></ion-icon>
          <ion-badge *ngIf="nbNotif > 0" [class.badge-one]="nbNotif < 10" [class.badge-two]="nbNotif >= 10"  color="danger">{{ nbNotif }}</ion-badge>
          <!--[class.badge-one]="unread < 10" [class.badge-two]="unread >= 10"-->
        </ion-button>
      </ion-buttons>
    </ion-item>

    <ion-buttons slot="end">
      <ion-button *ngIf="editing" [disabled]="listToRm.length === 0" (click)="delSelect()" color="danger"><ion-icon name="trash-outline"></ion-icon></ion-button>
      <ion-button *ngIf="!editing" (click)="startEdit()" color="primary"><ion-icon name="pencil"></ion-icon></ion-button>
      <ion-button *ngIf="editing" (click)="stopEdit()" color="primary"><ion-icon name="save-outline"></ion-icon></ion-button>
      <ion-button *ngIf="!editing" expand="block" (click)="addListModal()"><ion-icon color="primary" size="large" name="add-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" *ngIf="showLoading">
  <app-loading></app-loading>
</ion-content>
<ion-content [fullscreen]="true" *ngIf="!showLoading" class="modal-wrapper">
  <ion-list >
    <ion-item-sliding  *ngFor="let list of lists$ | async" #slidingItem>

      <!--<ion-item  [routerLink]="['/list-details/' + list.id]">-->
      <ion-item  (click)="routeToTodos(list.id)">
        <ion-checkbox *ngIf="editing" slot="start" (ionChange)="addToDel(list)"></ion-checkbox>
        <ion-label *ngIf="!editing" >{{ list.name }}</ion-label>
        <ion-input *ngIf="editing" [(ngModel)]="list.name" (ngModelChange)="addToUpdateListName(list)"></ion-input>

        <ion-badge slot="end" color="danger" *ngIf="isNewList(list.id) && !editing">new</ion-badge>
        <ion-badge slot="end" color="primary" *ngIf="list.share && !editing">shared</ion-badge>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option *ngIf="!editing"  (click)="delete(list)" color="danger"><ion-icon name="trash-outline" color="dark"></ion-icon></ion-item-option>
      </ion-item-options>

      <ion-item-options  side="start">
        <ion-item-option *ngIf="!editing" [disabled]="list.owner !== auth.userId" (click)="share(list,slidingItem)" color="primary"><ion-icon name="share-social-outline"></ion-icon></ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
