/* DOES NOT WORK - not specific enough */
.popover-content {
  background: #222;
}

/* Works - pass "my-custom-class" in cssClass to increase specificity */
.popover-content {
  background: #222;
}

.no-friend {
  color: grey;
  text-align: center;
}

.align-notif{
  text-align: center;
}
