<!--suppress BuyFluidPluginNoteInspection -->


<ion-content class="auth-form vcenter"  >
  <img src="assets/logo.png" width="55%" alt="Super logo">
  <ion-card>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-button [routerLink]="['/register']" expand="block" color="dark">Register</ion-button>

        <span class="divider line one-line">or</span>

        <span class="already">Already a user?</span>

        <ion-button [routerLink]="['/login']" expand="block" color="danger">Sign In</ion-button>

        <span class="divider line one-line">or</span>

        <span class="already">Sign with social :</span>

        <ion-row class="col positive-bg stable" style="align-items: center;">
          <ion-col size="5">
          <ion-button type="submit" color="primary" expand="block" (click)="signInGoogle()">
            Google
            <ion-icon slot="end" name="logo-google"></ion-icon>
          </ion-button>
          </ion-col>
          <ion-col size="2"><span class="divider" >or</span></ion-col>
          <ion-col size="5">
            <ion-button type="submit" color="primary" expand="block" (click)="signInFacebook()">
              Facebook
              <ion-icon slot="end" name="logo-facebook"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
  </ion-card>
</ion-content>
